@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  color: oklch(92.9% 0.013 255.508);
}

.macondo {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}
